@font-face {
    font-family: 'Shrikhand-Regular';
    src: url('../fonts/Shrikhand-Regular.otf') format('opentype'); /* Caminho relativo ao CSS */
}

body {
    background-color: #4a148C;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffeb3b;
    color: black;
    height: 120px; /* Ajuste a altura conforme necessário */
}

header h1 {
    transform: scaleX(1.5);
    font-size: 5rem;
    margin: 0;
    font-family: 'Shrikhand-Regular'; /* Aplica a fonte personalizada */
}

nav ul {
    list-style: none;
    color: black;
    padding: 1rem;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

.container-body-home {
    display: flex;
    flex-direction: column; /* Organiza os itens em coluna */
    align-items: center; /* Centraliza horizontalmente os itens no contêiner */
    gap: 20px; /* Espaço entre os itens */
}

.body-home {
    text-align: center;
    background-color: #4a148C;
    padding: 2rem;
}

.body-home img {
    width: auto;
    height: auto;
}

.buttons {
    grid-template-columns: repeat(4, 1fr); /* 3 colunas de igual tamanho */
    grid-gap: 10px; /* Espaço entre os itens */
    height: 50px;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
}


.buttons button {
    padding: 1rem 2rem;
    border: none;
    background-color: #ffeb3b;
    color: black;
    cursor: pointer;
    font-size: 1rem;
    .box:nth-child(1) { grid-column: 2/ 3; } /* Ocupa as duas primeiras colunas */
    align-items: center;
    justify-content: center;
}

.circulo-amarelo{
    border: 2px solid black;
        width: 20rem; /* Define a largura do círculo */
        height: 20rem; /* Define a altura do círculo */
        background-color: yellow; /* Define a cor de fundo do círculo */
        border-radius: 50%; /* Faz com que o elemento se torne um círculo */
        display: flex;
        align-items: center;
        justify-content: center;
        /* Para centralizar o texto no círculo (opcional) */
        text-align: center;
}

footer {
    color: black;
    background-color: #ffeb3b;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer a {
    color: black;
    margin: 0 0.5rem;
    text-decoration: none;
}